body,
html {
  margin: 0px;
  padding: 0px;
  background-color: black;
}

.grid_container {
  display: grid;
  grid-template-rows: fit-content(0) 375px;
  grid-template-columns: 100%;
  background-color: black;
}

.bar {
  background-color: darkblue;
  width: 500px;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0px;
}

.computer_container {
  background-color: black;
  width: 500px;
  text-align: center;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0px;
}

.computer {
  margin: 0px;
  padding: 0px;
  width: 100%;
  max-width: 100%;
  max-height: 90%;
}

.code {
  background-color: lime;
  border-color: lime;
  font-family: "Lucida Console";
  width: 50px;
  height: 30px;
}

.code:hover {
  cursor: pointer;
}

.money {
  font-family: "Arial Black";
  font-size: 20px;
  font-style: italic;
  color: green;
  margin: 0px;
}

.energy {
  font-family: "Arial Black";
  font-size: 20px;
  font-style: italic;
  color: red;
  margin: 0px;
}

.day {
  font-family: "Arial Black";
  font-size: 20px;
  font-style: italic;
  color: rgb(255, 0, 149);
  margin: 0px;
}

.drink {
  position: absolute;
  top: 35px;
  left: 0;
  right: 0;
  margin: auto;
  width: 150px;
  height: 15px;
}

.drink:hover {
  cursor: pointer;
}
