body {
  margin: 0px;
  padding: 0px;
  background-color: black;
}

/*Index*/
#go_holder {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#goGame {
  color: lime;
}

#goGame:hover {
  cursor: pointer;
}

#dots::before {
  color: lime;
  content: "";
  animation: threeDots infinite 3s;
}

@keyframes threeDots {
  0% {
    content: "";
  }
  25% {
    content: ".";
  }
  50% {
    content: "..";
  }
  75% {
    content: "...";
  }
  100% {
    content: "";
  }
}
/*End Index*/

#grid_container {
  display: grid;
  grid-template-rows: fit-content(0) fit-content(0) 375px;
  grid-template-columns: 100%;
  background-color: black;
}

#about {
  background-color: #1dc21a;
  width: 500px;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0px;
  text-align: center;
}

#aboutPage {
  margin: 3px;
  font-family: "Lucida Console";
}

#bar {
  background-color: #4c3c68;
  width: 500px;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0px;
}

#computer_container {
  background-color: black;
  width: 500px;
  text-align: center;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0px;
}

#computer {
  margin: 0px;
  padding: 0px;
  width: 100%;
  max-width: 100%;
  max-height: 90%;
}

#code {
  background-color: #1dc21a;
  border-color: #1dc21a;
  font-family: "Lucida Console";
  width: 60px;
  height: 30px;
}

#code:hover {
  cursor: pointer;
}

#storage_container{
  margin-top: 50px;
  text-align: center;
}

#money {
  font-family: "Arial Black";
  font-size: 20px;
  font-style: italic;
  color: #1dc21a;
  margin: 0px;
}

#energy {
  font-family: "Arial Black";
  font-size: 20px;
  font-style: italic;
  color: red;
  margin: 0px;
}

#drink {
  position: absolute;
  top: 43px;
  left: 0;
  right: 0;
  margin: auto;
  width: 150px;
  height: 13px;
}

#drink:hover {
  cursor: pointer;
}

#store {
  position: absolute;
  top: 35px;
  left: 420px;
  right: 0px;
  margin: auto;
  height: 30px;
  width: 60px;
  padding: 2px;
}

#saveStorage:hover{
  cursor: pointer;
  background-color: blue;
  border: 1px solid blue;
  border-radius: 0px;
}

#clearStorage:hover{
  cursor: pointer;
  background-color: red;
  border: 1px solid red;
  border-radius: 0px;
}

#ebay_button {
  height: 20px;
  width: 50px;
}

/*Ebay*/
#ebay_body{
  margin: 0px;
  padding: 0px;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
}

#ebay_container {
  display: grid;
  grid-template-rows: fit-content(0) fit-content(0) fit-content(0);
  grid-template-columns: 100%;
}

#ebay{
  float: left;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 0px;
  margin-bottom: 10px;
  height: 45px;
  width: 105px;
}

#top_section{
  /*border: 1px solid red;*/
  width: 900px;
  margin: auto;
  padding: 0px;
}

#top_options_container{
  vertical-align: middle;
  float: right;
  padding: 0;
  background-image: linear-gradient(white, rgb(236, 236, 236));
  border: 1px solid lightgray;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: fit-content;
  height: fit-content;
}

#buy{
  text-decoration: none;
  display: inline-block;
  padding-top: 5px;
  padding-right: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
  border-right: 1px solid lightgray;
  font-weight: 700;
  font-family: arial, helvetica, sans-serif;
  color: black;
  font-size: small;
}

#buy:hover{
  text-decoration: underline;
}

#sell{
  text-decoration: none;
  display: inline-block;
  padding-top: 5px;
  padding-right: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
  border-right: 1px solid lightgray;
  font-weight: 700;
  font-family: arial, helvetica, sans-serif;
  color: black;
  font-size: small;
}

#sell:hover{
  text-decoration: underline;
}

#my_eBay{
  text-decoration: none;
  display: inline-block;
  padding-top: 5px;
  padding-right: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
  border-right: 1px solid lightgray;
  font-weight: 700;
  font-family: arial, helvetica, sans-serif;
  color: black;
  font-size: small;
}

#my_eBay:hover{
  text-decoration: underline;
}

#community{
  text-decoration: none;
  display: inline-block;
  padding-top: 5px;
  padding-right: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
  border-right: 1px solid lightgray;
  font-weight: 700;
  font-family: arial, helvetica, sans-serif;
  color: black;
  font-size: small;
}

#community:hover{
  text-decoration: underline;
}

#help{
  text-decoration: none;
  display: inline-block;
  padding-top: 5px;
  padding-right: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
  font-weight: 700;
  font-family: arial, helvetica, sans-serif;
  color: black;
  font-size: small;
}

#help:hover{
  text-decoration: underline;
}

#greeting{
  margin-top: 40px;
  margin-left: 140px;
}

#search_container{
  width: 900px;
  margin: auto;
  padding: 0px;
  border: 1px solid rgb(161, 161, 6);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-image: linear-gradient(white, rgb(238, 249, 36))
}

#search_ebay{
  margin-left: 25px;
  margin-top: 8px;
  margin-bottom: 8px;
  width: 300px;
}

#color_line{
  margin: auto;
  margin-top: 0;
  width: 902px;
  height: 3px;
  background-image: linear-gradient(to right, red 0%, red 20%, rgb(102, 0, 0) 20%, rgb(102, 0, 0) 25%, blue 25%, blue 45%, brown 45%, brown 50%, yellow 50%, yellow 70%, rgb(160, 160, 0) 70%, rgb(62, 118, 25) 75%, rgb(2, 187, 2) 75%, rgb(2, 187, 2) 100%);
}

#below_color_line_buttons{
  vertical-align: middle;
  margin: auto;
  padding: 0;
  background-image: linear-gradient(white, rgb(236, 236, 236));
  border: 1px solid lightgray;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 900px;
  height: fit-content;
}

#categories_bar{
  text-decoration: none;
  display: inline-block;
  padding-top: 8px;
  padding-right: 8px;
  padding-left: 8px;
  padding-bottom: 8px;
  border-right: 1px solid lightgray;
  font-weight: 700;
  font-family: arial, helvetica, sans-serif;
  color: #5d5d5d;
  font-size: small;
}

#categories_bar:hover{
  text-decoration: underline;
}

#motors_bar{
  text-decoration: none;
  display: inline-block;
  padding-top: 8px;
  padding-right: 8px;
  padding-left: 8px;
  padding-bottom: 8px;
  border-right: 1px solid lightgray;
  font-weight: 700;
  font-family: arial, helvetica, sans-serif;
  color: #5d5d5d;
  font-size: small;
}

#motors_bar:hover{
  text-decoration: underline;
}

#express_bar{
  text-decoration: none;
  display: inline-block;
  padding-top: 8px;
  padding-right: 8px;
  padding-left: 8px;
  padding-bottom: 8px;
  border-right: 1px solid lightgray;
  font-weight: 700;
  font-family: arial, helvetica, sans-serif;
  color: #5d5d5d;
  font-size: small;
}

#express_bar:hover{
  text-decoration: underline;
}

#stores_bar{
  text-decoration: none;
  display: inline-block;
  padding-top: 8px;
  padding-right: 8px;
  padding-left: 8px;
  padding-bottom: 8px;
  border-right: 1px solid lightgray;
  font-weight: 700;
  font-family: arial, helvetica, sans-serif;
  color: #5d5d5d;
  font-size: small;
}

#stores_bar:hover{
  text-decoration: underline;
}

#middle_section{
  width: 900px;
  grid-template-columns: 320px 580px;
  margin: auto;
  height: auto;
}

.middle_column{
  margin-top: 0px;
  margin-right: 0px;
  width: 310px;
  float: left;
}

.right{
  margin-top: 0px;
  margin-left: 5px;
  width: 570px; 
  float: right;
}

#sections_left_title_one {
  width: 100%;
  height: auto;
  margin-top: 40px;
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  background: #FFCC66;
  border: 1px solid rgb(161, 161, 6);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-image: linear-gradient(white, rgb(254, 254, 21));
}

#sections_right_title_one {
  width: 100%;
  height: auto;
  margin-top: 30px;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 0;
  background: #FFCC66;
  border: 1px solid rgb(161, 161, 6);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-image: linear-gradient(white, rgb(254, 254, 21))
}

#sections_left_title_two {
  width: 100%;
  height: auto;
  margin-top: 15px;
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  background: #FFCC66;
  border: 1px solid rgb(161, 161, 6);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-image: linear-gradient(white, rgb(254, 254, 21))
}

#sections_right_title_two {
  width: 100%;
  height: auto;
  margin-top: 20px;
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  background: #FFCC66;
  border: 1px solid rgb(161, 161, 6);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-image: linear-gradient(white, rgb(254, 254, 21))
}

#sections_right_title_three {
  width: 100%;
  height: 35px;
  margin-top: 20px;
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  background: #FFCC66;
  border: 1px solid rgb(161, 161, 6);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-image: linear-gradient(white, rgb(254, 254, 21))
}

#sections_right_title_four {
  width: 100%;
  height: 35px;
  margin-top: 20px;
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  background: #FFCC66;
  border: 1px solid rgb(161, 161, 6);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-image: linear-gradient(white, rgb(254, 254, 21))
}

#sections_left_chunk_one {
  height: fit-content;
  margin-left: 0px;
  margin-top: 0px;
  width: 100%;
  padding-top: 10px;
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 10px;
  border: 1px solid lightgray;
  font-size: small;
}

#sections_right_chunk_one {
  height: fit-content;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  border: 1px solid lightgray;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#sections_left_chunk_two {
  height: fit-content;
  margin-left: 0px;
  margin-top: 0px;
  width: 100%;
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
  border: 1px solid lightgray;
  font-size: small;
}

#sections_right_chunk_two {
  height: fit-content;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  border: 1px solid lightgray;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#sections_right_chunk_three {
  height: 275px;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  border: 1px solid lightgray;
}

#sections_right_chunk_four {
  display: inline-block;
  height: fit-content;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: -5px;
  width: 100%;
  border: 1px solid lightgray;
}

#sections_right_chunk_four_left{
  width: fit-content;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 0;
  padding: 0;
  float: left;
}

#sections_right_chunk_four_right{
  width: fit-content;
  margin-top: 0;
  margin-right: 30px;
  margin-left: 0;
  margin-bottom: 0;
  padding: 0;
  float: right;
}

.list{
  padding-left: 30px;
  font-size: small;
}

#sections_left_bottom {
  height: fit-content;
  text-align: right;
  margin-left: 0;
  margin-top: 0;
  width: 100%;
  padding-top: 5px;
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 5px;
  border: 1px solid lightgray;
  font-size: small;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-image: linear-gradient(white, rgb(236, 236, 236));
}

.sections_right_bottom{
  height: fit-content;
  text-align: right;
  width: 570px;
  margin: 0;
  padding-top: 5px;
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 5px;
  border: 1px solid lightgray;
  font-size: small;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-image: linear-gradient(white, rgb(236, 236, 236));
}

#bottom_clickables_first_row{
  width: 900px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 15px;
  height: fit-content;
  text-align: left;
}

#bottom_clickables_second_row{
  width: 900px;
  margin: auto;
  margin-bottom: 5px;
  height: fit-content;
  text-align: left;
}

#copyright{
  width: 900px;
  margin: auto;
  padding: 0;
  border-top: 1px solid lightgray;
  font-family: Verdana;
  font-size: x-small;
  color: gray;
}

.middle_a{
  text-decoration: none;
  color: rgb(0, 0, 165);
  display: block;
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 10px;
  margin-bottom: 0px;
}

.middle_a:hover{
  text-decoration: underline;
}

.middle_p_titles{
  margin-top: 10px;
  margin-right: 0px;
  margin-left: 10px;
  margin-bottom: 10px;
  font-weight: 700;
  font-family: arial, helvetica, sans-serif;
  color: #5d5d5d;
  font-size: 15px;
}

.middle_a_footer{
  text-decoration: none;
  margin-right: 10px;
  font-family: arial, helvetica, sans-serif;
  color: rgb(0, 0, 165);
  font-size: small;
}

.middle_a_footer:hover{
  text-decoration: underline;
}

.spanning_a{
  text-decoration: none;
  color: rgb(0, 0, 165);
  padding-top: 0;
  padding-right: 5px;
  padding-left: 5px;
  padding-bottom: 0;
  border-right: 1px solid lightgray;
}

.spanning_a:hover{
  text-decoration: underline;
}

#copyright_statement{
  padding: 0;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 20px;
}

#globe_pic{
  margin: auto;
  width: 100%;
}

#welcome_gif{
  width: 98%;
  padding: 1px;
  margin: auto;
}

#win_pic{
  width: 100%;
  margin: auto;
}

#fashion_end{
  margin: 0;
  width: 50%;
  height: 275px;
  float: left;
}

#technology_end{
  margin: 0;
  width: 50%;
  height: 275px;
  float: right;
}

#express_pic{
  padding: 10px;
  padding-right: 20px;
  width: 45%;
  border-right: 1px solid lightgray;
}

#stubhub_pic{
  padding: 10px;
  float: right;
  width: 45%;
}
/*End Ebay*/
