body {
  margin: 0px;
  padding: 0px;
  background-color: black;
}

/*Index*/
#go_holder {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#goGame {
  color: lime;
}

#goGame:hover {
  cursor: pointer;
}

#dots::before {
  color: lime;
  content: "";
  animation: threeDots infinite 3s;
}

@keyframes threeDots {
  0% {
    content: "";
  }
  25% {
    content: ".";
  }
  50% {
    content: "..";
  }
  75% {
    content: "...";
  }
  100% {
    content: "";
  }
}
/*End Index*/

#grid_container {
  display: grid;
  grid-template-rows: fit-content(0) fit-content(0) 375px;
  grid-template-columns: 100%;
  background-color: black;
}

#about {
  background-color: #1dc21a;
  width: 500px;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0px;
  text-align: center;
}

#aboutPage {
  margin: 3px;
  font-family: "Lucida Console";
}

#bar {
  background-color: #4c3c68;
  width: 500px;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0px;
}

#computer_container {
  background-color: black;
  width: 500px;
  text-align: center;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0px;
}

#computer {
  margin: 0px;
  padding: 0px;
  width: 100%;
  max-width: 100%;
  max-height: 90%;
}

#code {
  background-color: #1dc21a;
  border-color: #1dc21a;
  font-family: "Lucida Console";
  width: 60px;
  height: 30px;
}

#code:hover {
  cursor: pointer;
}

#storage_container{
  margin-top: 50px;
  text-align: center;
}

#money {
  font-family: "Arial Black";
  font-size: 20px;
  font-style: italic;
  color: #1dc21a;
  margin: 0px;
}

#energy {
  font-family: "Arial Black";
  font-size: 20px;
  font-style: italic;
  color: red;
  margin: 0px;
}

#drink {
  position: absolute;
  top: 43px;
  left: 0;
  right: 0;
  margin: auto;
  width: 150px;
  height: 13px;
}

#drink:hover {
  cursor: pointer;
}

#store {
  position: absolute;
  top: 35px;
  left: 420px;
  right: 0px;
  margin: auto;
  height: 30px;
  width: 60px;
  padding: 2px;
}

#saveStorage:hover{
  cursor: pointer;
  background-color: blue;
  border: 1px solid blue;
  border-radius: 0px;
}

#clearStorage:hover{
  cursor: pointer;
  background-color: red;
  border: 1px solid red;
  border-radius: 0px;
}

#ebay_button {
  height: 20px;
  width: 50px;
}

/*Ebay*/
#ebay_body{
  margin: 0px;
  padding: 0px;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
}

#ebay_container {
  display: grid;
  grid-template-rows: fit-content(0) fit-content(0) fit-content(0);
  grid-template-columns: 100%;
}

#ebay{
  float: left;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 0px;
  margin-bottom: 10px;
  height: 45px;
  width: 105px;
}

#top_container{
  /*border: 1px solid red;*/
  width: 900px;
  margin: auto;
  padding: 0px;
}

#buy{
  float: right;
  left: 600px;
  border-bottom-left-radius: 10px;
  border-width: 1px;
  border-color: lightgray;
  height: 25px;
  width: fit-content;
  font-weight: 700;
}

#sell{
  float: right;
  left: 640px;
  border-width: 1px;
  border-color: lightgray;
  height: 25px;
  width: fit-content;
  font-weight: 700;
}

#my_eBay{
  float: right;
  left: 640px;
  border-width: 1px;
  border-color: lightgray;
  height: 25px;
  width: fit-content;
  font-weight: 700;
}

#community{
  float: right;
  left: 640px;
  border-width: 1px;
  border-color: lightgray;
  height: 25px;
  width: fit-content;
  font-weight: 700;
}

#help{
  float: right;
  left: 640px;
  border-width: 1px;
  border-color: lightgray;
  border-bottom-right-radius: 10px;
  height: 25px;
  width: fit-content;
  font-weight: 700;
}

#greeting{
  margin-top: 40px;
  margin-left: 140px;
}

#search_container{
  width: 900px;
  margin: auto;
  padding: 0px;
  border: 1px solid rgb(161, 161, 6);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-image: linear-gradient(white, rgb(238, 249, 36))
}

#search_ebay{
  margin-left: 25px;
  margin-top: 8px;
  margin-bottom: 8px;
  width: 300px;
}

#color_line{
  margin: auto;
  margin-top: 0px;
  width: 902px;
  height: 3px;
  background-image: linear-gradient(to right, red 0%, red 20%, rgb(102, 0, 0) 20%, rgb(102, 0, 0) 25%, blue 25%, blue 45%, brown 45%, brown 50%, yellow 50%, yellow 70%, rgb(160, 160, 0) 70%, rgb(62, 118, 25) 75%, rgb(2, 187, 2) 75%, rgb(2, 187, 2) 100%);
}

#middle_section{
  width: 900px;
  border: 1px solid red;
  grid-template-columns: 320px 580px;
  grid-template-rows: 100px; 
  margin: auto;
  height: auto;
}

.middle_column{
  margin-top: 40px;
  margin-right: 0px;
  width: 320px;
  float: left;
}

.right{
  margin-top: 30px;
  margin-right: 0px;
  width: auto;
  float: right;
}

.sections_left_title {
  width: 320px;
  height: auto;
  margin-top: 10px;
  margin-right: 0px;
  margin-left: 10px;
  margin-bottom: 0px;
  background: #FFCC66;
  clear: both;
  border: 1px solid rgb(161, 161, 6);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-image: linear-gradient(white, rgb(254, 254, 21))
}

.sections_left_chunk {
  height: fit-content;
  margin-left: 10px;
  margin-top: 0px;
  width: 300px;
  padding: 10px;
  border: 1px solid lightgray;
  font-size: small;
}

.sections_left_bottom {
  height: fit-content;
  text-align: right;
  margin-left: 10px;
  margin-top: 0px;
  width: 320px;
  padding: 0px;
  border: 1px solid lightgray;
  font-size: small;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-image: linear-gradient(white, lightgray);
}

.sections_right {
  width: 540px;
  height: 50px;
  margin: 10px;
  background: #FFCC66;
  clear: both;
}

.middle_a{
  display: block;
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 10px;
  margin-bottom: 0px;
}

.middle_p_titles{
  margin-top: 10px;
  margin-right: 0px;
  margin-left: 10px;
  margin-bottom: 10px;
  font-weight: 700;
  font-family: arial, helvetica, sans-serif;
  color: #5d5d5d;
  font-size: 15px;
}

.middle_p_footer{
  padding: 5px;
  margin: auto;
  font-family: arial, helvetica, sans-serif;
  color: blue;
  font-size: small;
}

/*#favorite_title--container{
  height: auto;
  margin-top: 40px;
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  width: 320px;
  border: 1px solid rgb(161, 161, 6);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-image: linear-gradient(white, rgb(254, 254, 21))
}

#shop_fav{
  padding: 0px;
  margin-top: 8px;
  margin-right: 8px;
  margin-left: 20px;
  margin-bottom: 8px;
  font-weight: 700;
  font-family: arial, helvetica, sans-serif;
  color: #5d5d5d;
  font-size: 15px;
}

#favorite_container{
  height: fit-content;
  margin-top: 0px;
  width: 300px;
  padding: 10px;
  border: 1px solid lightgray;
  font-size: small;
}

.categories{
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 10px;
  margin-bottom: 0px;
}*/
/*End Ebay*/
